.card {
    height: 25%;
    margin: 1rem;
    position: relative;
    width: 40%;
    text-align: left;
    margin-left: 32%;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
/* styling for the images to click on */
  