.card {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    margin: 0.5rem;
    width: 225px;
    margin-left: 42%;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%
  }
  
  