.card {
    /* float: left;
    width: 10%; */
    padding: 5px;
    border-radius: 2px;
    height: 20%;
    margin: 0.5rem;
    width: 25%;
    margin-left: 37%;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;

  } 
  .card > .img-container > img {
    width: 60%
  }

  
  